@model OnkundeModel

<h2>Resultaat</h2>
<p>Je zou graag @Model.Talent willen kunnen.</p>
<p>Je kunt goed opschieten met @Model.Persoon.</p>
<p>Je favoriete getal is @Model.Getal.</p>
<p>Je hebt altijd @Model.VakantieSpullen bij je als je op vakantie gaat.</p>
<p>Je beste persoonlijke eigenschap is @Model.GoedeEigenschap.</p>
<p>Je slechtste persoonlijke eigenschap is @Model.SlechteEigenschap.</p>
<p>Het ergste dat je kan overkomen is @Model.ErgsteGebeurtenis.</p>