@model PaniekModel

<h2>Resultaat</h2>
<p>Er heerst paniek in @Model.Land.</p>
<p>Er is een @Model.Dier ontsnapt en @Model.Persoon is in paniek.</p>
<p>Als je je verveelt, kun je @Model.Verveling. </p>
<p>Je speelde vroeger het meest met @Model.Speelgoed.</p>
<p>Je spijbelt het liefst bij @Model.Docent.</p>
<p>Met €100.000,- zou je @Model.Geld kopen.</p>
<p>Je favoriete bezigheid is @Model.Bezigheid.</p>